:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 920px;
  height: 596px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.root {
  position: absolute;
  height: 596px;
  top: 0;
  right: 0;
  left: 0;
  background: #f5f5f5;
}
.image {
  position: absolute;
  width: 187px;
  height: 583px;
  right: 733px;
  bottom: 2px;
  background: url(../assets/images/4d33f60fc8a10a21709ac1a2327a0f61132a7bee.png)
    no-repeat center;
  background-size: cover;
  z-index: 80;
}
.image-1 {
  position: absolute;
  width: 729px;
  height: 579px;
  right: 7px;
  bottom: 4px;
  background: url(../assets/images/c569bfe5e2f69b9fc1a40d23f5b623da967d6c8a.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.flex-column-e {
  position: absolute;
  width: 718px;
  height: 525px;
  right: 2px;
  bottom: 34px;
  z-index: 73;
}
.groups {
  position: relative;
  width: 718px;
  height: 51px;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 73;
}
.image-2 {
  position: absolute;
  width: 25px;
  height: 24px;
  right: 108px;
  bottom: 14px;
  background: url(../assets/images/4e8546766421ffae2c7d169a3e3717614bb33343.png)
    no-repeat center;
  background-size: cover;
  z-index: 76;
}
.transfer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  right: 635px;
  bottom: 19px;
  color: #505156;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 78;
}
.nicola-rich {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  right: 45px;
  bottom: 21px;
  color: #6a6b6f;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 75;
}
.image-3 {
  position: absolute;
  width: 10px;
  height: 11px;
  right: 148px;
  bottom: 20px;
  background: url(../assets/images/b91a8214502bfd31e3116b966dd7edc437d3c85b.png)
    no-repeat center;
  background-size: cover;
  z-index: 77;
}
.image-4 {
  position: absolute;
  width: 7px;
  height: 4px;
  right: 26px;
  bottom: 24px;
  background: url(../assets/images/8f995dce99e02271bb64c6933259ae1e45be1fe7.png)
    no-repeat center;
  background-size: cover;
  z-index: 74;
}
.groups-5 {
  position: absolute;
  width: 469px;
  height: 493px;
  right: 2px;
  bottom: -21px;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 19;
}
.transfer-to {
  display: block;
  position: relative;
  height: 15px;
  margin: 15px 0 0 15px;
  color: #57575c;
  font-family: Inter, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 50;
}
.flex-row-cff {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 141px;
  height: 11px;
  margin: 21px 0 0 15px;
  z-index: 49;
}
.own-account {
  flex-shrink: 0;
  position: relative;
  height: 11px;
  color: #717276;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 11px;
  text-align: left;
  white-space: nowrap;
  z-index: 49;
}
.other-account {
  flex-shrink: 0;
  position: relative;
  height: 11px;
  color: #626368;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 11px;
  text-align: left;
  white-space: nowrap;
  z-index: 48;
}
.image-6 {
  position: relative;
  width: 433px;
  height: 9px;
  margin: 7px 0 0 9px;
  background: url(../assets/images/79fa3a63235a64890c94aa456dcb62666c5a60be.png)
    no-repeat center;
  background-size: cover;
  z-index: 47;
}
.beneficiary {
  display: block;
  position: relative;
  height: 12px;
  margin: 16px 0 0 16px;
  color: #696a6f;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 46;
}
.iban {
  display: block;
  position: relative;
  height: 10px;
  margin: 24px 0 0 21px;
  color: #959596;
  font-family: Inter, var(--default-font-family);
  font-size: 8px;
  font-weight: 400;
  line-height: 9.682px;
  text-align: left;
  white-space: nowrap;
  z-index: 45;
}
.image-7 {
  position: relative;
  width: 431px;
  height: 35px;
  margin: 23px 0 0 11px;
  font-size: 0px;
  background: url(../assets/images/3299f292b2a27a8b438d1548fc69adcbdab60912.png)
    no-repeat center;
  background-size: cover;
  z-index: 44;
  overflow: visible auto;
}
.usd {
  display: block;
  position: relative;
  height: 11px;
  margin: 11px 0 0 378px;
  color: #9d9d9d;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 43;
}
.amount {
  display: block;
  position: relative;
  height: 11px;
  margin: -10px 0 0 10px;
  color: #a0a0a0;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 44;
}
.text {
  position: relative;
  width: 435px;
  height: 37px;
  margin: 9px 0 0 10px;
  background: rgba(0, 0, 0, 0);
  z-index: 38;
  overflow: visible auto;
}
.background {
  position: relative;
  width: 425px;
  height: 30px;
  margin: 4px 0 0 5px;
  background: #ffffff;
  border: 1px solid #e7e7e8;
  z-index: 39;
}
.date {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  right: 388px;
  bottom: 9px;
  color: #909091;
  font-family: Inter, var(--default-font-family);
  font-size: 8px;
  font-weight: 400;
  line-height: 9.682px;
  text-align: left;
  white-space: nowrap;
  z-index: 41;
}
.image-8 {
  position: absolute;
  width: 10px;
  height: 11px;
  right: 9px;
  bottom: 9px;
  background: url(../assets/images/c4a6aee08b20ced89f9b23fd354199df19fd88d9.png)
    no-repeat center;
  background-size: cover;
  z-index: 40;
}
.groups-9 {
  position: relative;
  width: 455px;
  height: 212px;
  margin: 18px 0 0 2px;
  background: rgba(0, 0, 0, 0);
  z-index: 20;
  overflow: visible auto;
}
.flex-row-f {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 423px;
  height: 11px;
  margin: 8px 0 0 13px;
  z-index: 37;
}
.other-data {
  flex-shrink: 0;
  position: relative;
  height: 11px;
  color: #717176;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 11px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
}
.image-a {
  flex-shrink: 0;
  position: relative;
  width: 6px;
  height: 5px;
  background: url(../assets/images/8abafed839d6aba08c8409e7f79c9e5d16604840.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 433px;
  height: 37px;
  margin: 12px 0 0 9px;
  z-index: 34;
}
.image-b {
  flex-shrink: 0;
  position: relative;
  width: 215px;
  height: 37px;
  background: url(../assets/images/5a133345c9b996a7d4b74f90af14499587120530.png)
    no-repeat center;
  background-size: cover;
  z-index: 34;
}
.transfer-purpose {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  right: 126px;
  bottom: 12px;
  color: #939394;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.image-c {
  flex-shrink: 0;
  position: relative;
  width: 215px;
  height: 37px;
  background: url(../assets/images/d8247d635070fa409aac32dfb6eb4f32ac457052.png)
    no-repeat center;
  background-size: cover;
  z-index: 32;
}
.beneficiarys-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  right: 119px;
  bottom: 12px;
  color: #959596;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.flex-row-eb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 433px;
  height: 37px;
  margin: 8px 0 0 9px;
  z-index: 30;
}
.image-d {
  flex-shrink: 0;
  position: relative;
  width: 215px;
  height: 37px;
  background: url(../assets/images/5a133345c9b996a7d4b74f90af14499587120530.png)
    no-repeat center;
  background-size: cover;
  z-index: 30;
}
.beneficiarys-email {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  right: 119px;
  bottom: 12px;
  color: #939394;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.image-e {
  flex-shrink: 0;
  position: relative;
  width: 216px;
  height: 35px;
  background: url(../assets/images/ea8f9fdb0730f4fc58f22430be00ee23f21a0e79.png)
    no-repeat center;
  background-size: cover;
  z-index: 28;
}
.payers-reference {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  right: 126px;
  bottom: 11px;
  color: #949495;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
.text-f {
  position: relative;
  width: 432px;
  height: 37px;
  margin: 8px 0 0 9px;
  background: rgba(0, 0, 0, 0);
  z-index: 24;
  overflow: visible auto;
}
.image-10 {
  position: relative;
  width: 432px;
  height: 37px;
  margin: 0 0 0 -1px;
  background: url(../assets/images/284784e67a6098fcd7d68b6821d5b942cfc7125b.png)
    no-repeat center;
  background-size: cover;
  z-index: 26;
  overflow: visible auto;
}
.background-11 {
  position: relative;
  width: 430px;
  height: 36px;
  margin: 0 0 0 1px;
  background: #fefefe;
  z-index: 25;
}
.information-for-beneficiary {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  right: 298px;
  bottom: 11px;
  color: #9d9d9d;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
}
.button {
  position: relative;
  width: 432px;
  height: 41px;
  margin: 12px 0 0 9px;
  background: rgba(0, 0, 0, 0);
  z-index: 21;
  overflow: visible auto;
}
.button-background {
  position: relative;
  width: 425px;
  height: 35px;
  margin: 4px 0 0 5px;
  cursor: pointer;
  background: #030303;
  border: none;
  z-index: 22;
}
.continue {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  right: 190px;
  bottom: 12px;
  color: #bcbcbc;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.groups-12 {
  position: absolute;
  width: 229px;
  height: 107px;
  right: 469px;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}
.image-13 {
  position: relative;
  width: 224px;
  height: 102px;
  margin: 4px 0 0 3px;
  background: url(../assets/images/69f30ebd5095fbebcb7b2729a0ab3674e458b10b.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
  overflow: visible auto;
}
.flex-row-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 198px;
  height: 10px;
  margin: 14px 0 0 14px;
  z-index: 18;
}
.saved-beneficiaries {
  flex-shrink: 0;
  position: relative;
  height: 10px;
  color: #5c5d62;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.view-all {
  flex-shrink: 0;
  position: relative;
  height: 9px;
  color: #919497;
  font-family: Inter, var(--default-font-family);
  font-size: 6px;
  font-weight: 400;
  line-height: 9px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.flex-row-aec {
  position: relative;
  width: 209px;
  height: 56px;
  margin: 11px 0 0 7px;
  z-index: 13;
}
.groups-14 {
  position: absolute;
  width: 55px;
  height: 56px;
  right: 154px;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 13;
}
.image-15 {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 4px 0 0 16px;
  background: url(../assets/images/9c64ca0bdd921cb86764914cd57ecd1c3c38a0b1.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.add {
  display: block;
  position: relative;
  height: 7px;
  margin: 6px 0 0 20px;
  color: #5d5d62;
  font-family: Inter, var(--default-font-family);
  font-size: 6px;
  font-weight: 400;
  line-height: 7px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.new {
  display: block;
  position: relative;
  height: 7px;
  margin: 3px 0 0 20px;
  color: #7a7b7f;
  font-family: Inter, var(--default-font-family);
  font-size: 6px;
  font-weight: 400;
  line-height: 7px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.groups-16 {
  position: absolute;
  width: 52px;
  height: 56px;
  right: 106px;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 10;
}
.image-17 {
  position: relative;
  width: 23px;
  height: 24px;
  margin: 4px 0 0 16px;
  background: url(../assets/images/3483a183ab86326091178155b49a4ace871c4661.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
}
.maria-purple {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 26px;
  height: 19px;
  margin: 5px 0 0 14px;
  color: #67686c;
  font-family: Inter, var(--default-font-family);
  font-size: 6px;
  font-weight: 400;
  line-height: 7.261px;
  text-align: left;
  text-overflow: initial;
  z-index: 11;
  overflow: hidden;
}
.groups-18 {
  position: absolute;
  width: 52px;
  height: 56px;
  right: 56px;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 7;
}
.image-19 {
  position: relative;
  width: 23px;
  height: 23px;
  margin: 5px 0 0 15px;
  background: url(../assets/images/6e939851e947dd9570df5cd56bf8f5dba42a2c4b.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
}
.leonard-smith {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 31px;
  height: 18px;
  margin: 5px 0 0 11px;
  color: #646569;
  font-family: Inter, var(--default-font-family);
  font-size: 7px;
  font-weight: 400;
  line-height: 8.472px;
  text-align: left;
  text-overflow: initial;
  z-index: 8;
  overflow: hidden;
}
.groups-1a {
  position: absolute;
  width: 58px;
  height: 55px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 4;
}
.image-1b {
  position: relative;
  width: 23px;
  height: 23px;
  margin: 4px 0 0 15px;
  background: url(../assets/images/f3bcf4b3e5d8c9de1ec183d5650f57cc9d665483.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
}
.osca-wild {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 24px;
  height: 18px;
  margin: 5px 0 0 15px;
  color: #6b6b70;
  font-family: Inter, var(--default-font-family);
  font-size: 6px;
  font-weight: 400;
  line-height: 7.261px;
  text-align: left;
  text-overflow: initial;
  z-index: 5;
  overflow: hidden;
}
.groups-1c {
  position: absolute;
  width: 235px;
  height: 361px;
  right: 471px;
  bottom: 149px;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 51;
}
.select-payer {
  display: block;
  position: relative;
  height: 17px;
  margin: 19px 0 0 8px;
  color: #56575c;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  z-index: 72;
}
.image-1d {
  position: relative;
  width: 231px;
  height: 40px;
  margin: 17px 0 0 4px;
  background: url(../assets/images/7ee24b848f75bd6d2334bcb7cd17306faa7d192b.png)
    no-repeat center;
  background-size: cover;
  z-index: 69;
}
.checking-account {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  right: 137px;
  bottom: 14px;
  color: #c0c1c6;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 71;
}
.image-1e {
  position: absolute;
  width: 5px;
  height: 3px;
  right: 8px;
  bottom: 18px;
  background: url(../assets/images/c3fd48f42a5cb7893c09793946c72c8238b165b0.png)
    no-repeat center;
  background-size: cover;
  z-index: 70;
}
.image-1f {
  position: relative;
  width: 225px;
  height: 187px;
  margin: 13px 0 0 9px;
  font-size: 0px;
  background: #1e1f26;
  z-index: 60;
  overflow: visible auto;
}
.checking-account-20 {
  display: block;
  position: relative;
  height: 12px;
  margin: 14px 0 0 14px;
  color: #c0c1c6;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 68;
}
.balance {
  display: block;
  position: relative;
  height: 9px;
  margin: 14px 0 0 14px;
  color: #cbccd0;
  font-family: Inter, var(--default-font-family);
  font-size: 7px;
  font-weight: 400;
  line-height: 8.472px;
  text-align: left;
  white-space: nowrap;
  z-index: 67;
}
.usd-inr {
  display: block;
  position: relative;
  height: 21px;
  margin: 13px 0 0 15px;
  color: #e4e4e5;
  font-family: Inter, var(--default-font-family);
  font-size: 19px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 66;
}
.image-21 {
  position: relative;
  width: 194px;
  height: 8px;
  margin: 12px 0 0 17px;
  background: url(../assets/images/f3191fd6c9376f2670ed2bfb647aee29f000f1b7.png)
    no-repeat center;
  background-size: cover;
  z-index: 65;
}
.iban-22 {
  display: block;
  position: relative;
  height: 8px;
  margin: 11px 0 0 14px;
  color: #b4b5ba;
  font-family: Inter, var(--default-font-family);
  font-size: 6px;
  font-weight: 400;
  line-height: 7.261px;
  text-align: left;
  white-space: nowrap;
  z-index: 64;
}
.ab {
  display: block;
  position: relative;
  height: 11px;
  margin: 6px 0 0 14px;
  color: #bdbec3;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 63;
}
.account-owner {
  display: block;
  position: relative;
  height: 9px;
  margin: 10px 0 0 14px;
  color: #bfc0c5;
  font-family: Inter, var(--default-font-family);
  font-size: 7px;
  font-weight: 400;
  line-height: 8.472px;
  text-align: left;
  white-space: nowrap;
  z-index: 62;
}
.nicola-rich-23 {
  display: block;
  position: relative;
  height: 9px;
  margin: 6px 0 0 14px;
  color: #c1c2c7;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 9px;
  text-align: left;
  white-space: nowrap;
  z-index: 61;
}
.button-24 {
  position: relative;
  width: 229px;
  height: 34px;
  margin: 1px 0 0 6px;
  background: rgba(0, 0, 0, 0);
  z-index: 55;
  overflow: visible auto;
}
.image-25 {
  position: relative;
  width: 225px;
  height: 34px;
  margin: -1px 0 0 3px;
  background: url(../assets/images/7a66a96fbb1c486a07e5cfebe8faacf90a05dd21.png)
    no-repeat center;
  background-size: cover;
  z-index: 57;
  overflow: visible auto;
}
.background-26 {
  position: relative;
  width: 226px;
  height: 33px;
  margin: 1px 0 0 -1px;
  font-size: 0px;
  background: #f3f3f3;
  border: 1px solid #f2f2f2;
  z-index: 56;
  overflow: visible auto;
}
.share-iban {
  display: block;
  position: relative;
  height: 9px;
  margin: 12px 0 0 90px;
  color: #515257;
  font-family: Inter, var(--default-font-family);
  font-size: 7px;
  font-weight: 400;
  line-height: 8.472px;
  text-align: left;
  white-space: nowrap;
  z-index: 58;
}
.image-27 {
  position: relative;
  width: 9px;
  height: 9px;
  margin: -7px 0 0 76px;
  background: url(../assets/images/92ec80c64de1b7074b17674cecb48d779e768f00.png)
    no-repeat center;
  background-size: cover;
  z-index: 59;
}
.image-28 {
  position: relative;
  width: 225px;
  height: 33px;
  margin: -3px 0 0 9px;
  background: url(../assets/images/dc87c015993b2a6a6e229360b8b5f91298393320.png)
    no-repeat center;
  background-size: cover;
  z-index: 52;
}
.request-payment {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  right: 76px;
  bottom: 10px;
  color: #5e5e63;
  font-family: Inter, var(--default-font-family);
  font-size: 7px;
  font-weight: 400;
  line-height: 8.472px;
  text-align: left;
  white-space: nowrap;
  z-index: 53;
}
.image-29 {
  position: absolute;
  width: 8px;
  height: 5px;
  right: 155px;
  bottom: 13px;
  background: url(../assets/images/5cb1ab2f511535041d27b5694cc1c7b028dce828.png)
    no-repeat center;
  background-size: cover;
  z-index: 54;
}
.groups-2a {
  position: absolute;
  width: 188px;
  height: 565px;
  right: 729px;
  bottom: 7px;
  background: rgba(0, 0, 0, 0);
  z-index: 79;
}
.flex-column-bd {
  position: absolute;
  width: 168px;
  height: 517px;
  right: 4px;
  bottom: 42px;
  z-index: 86;
}
.groups-2b {
  position: relative;
  width: 168px;
  height: 221px;
  margin: 0 0 0 0;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 86;
  overflow: visible auto;
}
.plutus {
  display: block;
  position: relative;
  height: 14px;
  margin: 26px 0 0 22px;
  color: #5d5d62;
  font-family: Inter, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 100;
}
.dashboard {
  display: block;
  position: relative;
  height: 10px;
  margin: 32px 0 0 43px;
  color: #7d8085;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10px;
  text-align: left;
  white-space: nowrap;
  z-index: 98;
}
.image-2c {
  position: relative;
  width: 11px;
  height: 9px;
  margin: -8px 0 0 22px;
  background: url(../assets/images/a522441854508d246cfedb77c4387762225d027c.png)
    no-repeat center;
  background-size: cover;
  z-index: 99;
}
.groups-2d {
  position: relative;
  width: 161px;
  height: 34px;
  margin: 11px 0 0 3px;
  background: rgba(0, 0, 0, 0);
  z-index: 95;
}
.transfer-2e {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  right: 81px;
  bottom: 13px;
  color: #5b5b60;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 96;
}
.image-2f {
  position: absolute;
  width: 11px;
  height: 10px;
  right: 131px;
  bottom: 13px;
  background: url(../assets/images/2585b3d7604417647812c095a5e8ee2fd23273f1.png)
    no-repeat center;
  background-size: cover;
  z-index: 97;
}
.groups-30 {
  position: relative;
  width: 165px;
  height: 35px;
  margin: -4px 0 0 2px;
  background: rgba(0, 0, 0, 0);
  z-index: 92;
}
.transaction {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 10px;
  right: 70px;
  bottom: 13px;
  color: #8c8e92;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10px;
  text-align: left;
  white-space: nowrap;
  z-index: 93;
}
.image-31 {
  position: absolute;
  width: 11px;
  height: 8px;
  right: 134px;
  bottom: 14px;
  background: url(../assets/images/d6265237fdb4ed114734472d700453a803389aeb.png)
    no-repeat center;
  background-size: cover;
  z-index: 94;
}
.groups-32 {
  position: relative;
  width: 162px;
  height: 34px;
  margin: -4px 0 0 3px;
  background: rgba(0, 0, 0, 0);
  z-index: 89;
}
.accounts-and-cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 10px;
  right: 30px;
  bottom: 12px;
  color: #808387;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10px;
  text-align: left;
  white-space: nowrap;
  z-index: 90;
}
.image-33 {
  position: absolute;
  width: 11px;
  height: 9px;
  right: 132px;
  bottom: 12px;
  background: url(../assets/images/715771ef404e2f779009e3fb597b53a0e4762e5f.png)
    no-repeat center;
  background-size: cover;
  z-index: 91;
}
.investments {
  display: block;
  position: relative;
  height: 9px;
  margin: 9px 0 0 43px;
  color: #828589;
  font-family: Inter, var(--default-font-family);
  font-size: 8px;
  font-weight: 400;
  line-height: 9px;
  text-align: left;
  white-space: nowrap;
  z-index: 87;
}
.image-34 {
  position: relative;
  width: 11px;
  height: 9px;
  margin: -8px 0 0 22px;
  background: url(../assets/images/f1cc6f4112e2f79b4b6224903b94ea47feabb6ec.png)
    no-repeat center;
  background-size: cover;
  z-index: 88;
}
.settings {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  right: 87px;
  bottom: 29px;
  color: #828489;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 83;
}
.image-35 {
  position: absolute;
  width: 11px;
  height: 9px;
  right: 135px;
  bottom: 30px;
  background: url(../assets/images/3eb9c0dcc1d93b6eaa971793a795132253ecd323.png)
    no-repeat center;
  background-size: cover;
  z-index: 84;
}
.log-out {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  right: 89px;
  bottom: -2px;
  color: #898c90;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 81;
}
.image-36 {
  position: absolute;
  width: 11px;
  height: 8px;
  right: 135px;
  bottom: 0;
  background: url(../assets/images/5b82cdb5b7f64602675995e502949547d921f708.png)
    no-repeat center;
  background-size: cover;
  z-index: 82;
}
.image-37 {
  position: absolute;
  width: 1px;
  height: 15px;
  right: 179px;
  bottom: 442px;
  background: url(../assets/images/aadddfe80b84f2290c521bde5ebcd9f476f5223f.png)
    no-repeat center;
  background-size: cover;
  z-index: 85;
}
