@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


       


       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
       right:250px;
       z-index: 12;
       }

       .search input {
        height: 60px;
        width: 350px;
        border: 2px solid #d6d4d4;
    }
    
    .search input:focus {
        box-shadow: none;
        border: 2px solid blue;
    }
    
    .search .fa-search {
        position: absolute;
        top: 20px;
        left: 16px;
    }
    
    .search button {
        position: absolute;
        top: 5px;
        right: -150px;
        height: 50px;
        width: 110px;
        background: rgba(54, 249, 5, 0.832);
    }
    

    .tau{
        position: relative;
        z-index: 400;
    }