:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 921px;
  height: 577px;
  margin: 0 auto;
  background: #f5f5f5;
}
.image {
  position: absolute;
  width: 459px;
  height: 573px;
  right: 460px;
  bottom: 2px;
  background: url(../assets/images/48ded230215b95c0008d97f953c3bdf67eeb4283.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.groups {
  position: relative;
  width: 426px;
  height: 285px;
  margin: 88px 0 0 5px;
  background: rgba(0, 0, 0, 0);
  z-index: 20;
  overflow: visible auto;
}
.groups-1 {
  position: relative;
  width: 296px;
  height: 285px;
  margin: 0 0 0 78px;
  background: rgba(0, 0, 0, 0);
  z-index: 21;
  overflow: visible auto;
}
.image-2 {
  position: relative;
  width: 278px;
  height: 278px;
  margin: 5px 0 0 9px;
  background: url(../assets/images/96bae5e81910d23e307b902b94d4018d6a11ea05.png)
    no-repeat center;
  background-size: cover;
  z-index: 22;
  border-radius: 4px;
}
.groups-3 {
  position: relative;
  width: 335px;
  height: 109px;
  margin: 15px 0 0 51px;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 17;
  overflow: visible auto;
}
.personal-finance {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 203px;
  height: 45px;
  margin: 7px 0 0 79px;
  color: #dcdde2;
  font-family: Inter, var(--default-font-family);
  font-size: 19px;
  font-weight: 400;
  line-height: 22.994px;
  text-align: center;
  z-index: 19;
}
.all-accounts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 154px;
  height: 23px;
  margin: 15px 0 0 102px;
  color: #bdbec3;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  text-overflow: initial;
  z-index: 18;
  overflow: hidden;
}
.image-4 {
  position: absolute;
  width: 460px;
  height: 574px;
  right: 3px;
  bottom: 0;
  background: url(../assets/images/2b5ed9a019d482b45ce0ffbebda09c6066da002a.png)
    no-repeat center;
  background-size: cover;
}
.image-5 {
  position: relative;
  width: 36px;
  height: 35px;
  margin: 23px 0 0 401px;
  background: url(../assets/images/cfd626c264f5ab76562b3d45eea6170a22dafb40.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
  border-radius: 6px;
}
.flex-column-bc {
  position: relative;
  width: 244px;
  height: 256px;
  margin: 107px 0 0 104px;
  font-size: 0px;
  z-index: 14;
  overflow: visible auto;
}
.log-in {
  display: block;
  position: relative;
  height: 22px;
  margin: 0 0 0 15px;
  color: #424248;
  font-family: Inter, var(--default-font-family);
  font-size: 17px;
  font-weight: 400;
  line-height: 20.574px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.account-number {
  display: block;
  position: relative;
  height: 11px;
  margin: 16px 0 0 14px;
  color: #707175;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.text {
  position: relative;
  width: 229px;
  height: 37px;
  margin: 12px 0 0 10px;
  background: rgba(0, 0, 0, 0);
  z-index: 10;
  overflow: visible auto;
}
.background {
  position: relative;
  width: 222px;
  height: 31px;
  margin: 3px 0 0 4px;
  background: #ffffff;
  border: 2px solid #ebebec;
  z-index: 11;
}
.number {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  right: 114px;
  bottom: 9px;
  color: #9f9fa0;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.groups-6 {
  position: relative;
  width: 244px;
  height: 147px;
  margin: 11px 0 0 0;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
  overflow: visible auto;
}
.password {
  display: block;
  position: relative;
  height: 10px;
  margin: 6px 0 0 14px;
  color: #6f6f74;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.text-7 {
  position: relative;
  width: 230px;
  height: 35px;
  margin: 14px 0 0 10px;
  background: rgba(0, 0, 0, 0);
  z-index: 6;
  overflow: visible auto;
}
.background-8 {
  position: relative;
  width: 223px;
  height: 30px;
  margin: 3px 0 0 4px;
  background: url(../assets/images/66585d9851240114a1f63fdf60f8054437738f69.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
}
.text-9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 6px;
  right: 174px;
  bottom: 13px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 6px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.button {
  position: relative;
  width: 228px;
  height: 40px;
  margin: 10px 0 0 11px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border: none;
  z-index: 3;
  overflow: visible auto;
}
.background-a {
  position: relative;
  width: 223px;
  height: 36px;
  margin: 3px 0 0 3px;
  background: #030303;
  border: 1px solid #555555;
  z-index: 4;
}
.log-in-b {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 13px;
  right: 94px;
  bottom: 11px;
  color: #c8c8c8;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.forgot-password {
  display: block;
  position: relative;
  height: 13px;
  margin: 8px 0 0 14px;
  color: #9b9b9c;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10.892px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.frame {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 206px;
  left: -16px;
  z-index: 23;
  overflow: hidden;
}
